In [ ]:
# TUPLE IS IMMUTABLE


t=("aktu","ajaz",2+3j)

In [2]:
t

('aktu', 'ajaz', (2+3j))

In [3]:
t[1]

'ajaz'

In [4]:
t1=("aktu","ajaz",2+3j,1,2,5,4,1,8,1)

In [5]:
t1.count(1)

3

In [6]:
t1[0:4]

('aktu', 'ajaz', (2+3j), 1)

In [8]:
t1[::-1]

(1, 8, 1, 4, 5, 2, 1, (2+3j), 'ajaz', 'aktu')

In [9]:
t2=("aktu","ajaz",2+3j,1,2,5,4,1,8,1)
t3=("hh",5,3,7)
t4=(t3,t2)

In [10]:
t4

(('hh', 5, 3, 7), ('aktu', 'ajaz', (2+3j), 1, 2, 5, 4, 1, 8, 1))

In [11]:
del t4

In [ ]:
t4

NameError: name 't4' is not defined

In [13]:
1 in t1

True

In [14]:
1 not in t1

False

In [16]:
# combing both tuples
t5=t2+t3

In [17]:
t5

('aktu', 'ajaz', (2+3j), 1, 2, 5, 4, 1, 8, 1, 'hh', 5, 3, 7)

In [ ]:
# sets : sets are unordered and unique collection of elements
# does not allow duplicate value
# due to unordered index will not work

In [18]:
s={1,2,3}

In [19]:
type(s)

set

In [20]:
s={1,2,3,1,4,2,}
s

{1, 2, 3, 4}

In [21]:
s.add(10)

In [22]:
s

{1, 2, 3, 4, 10}

In [23]:
s.pop()

1

In [24]:
s

{2, 3, 4, 10}

In [25]:
s.pop()

2

In [26]:
s

{3, 4, 10}

In [27]:
s.update("ajaz")

In [28]:
s

{10, 3, 4, 'a', 'j', 'z'}

In [31]:
s.update([8])

In [32]:
s

{10, 3, 4, 8, 'a', 'j', 'z'}

In [ ]:
# set Operations
# union
# intersection
# diffrence present in 1st set not in 2nd
#symmetric diffrence : return all the elements other then common elements

In [34]:
a = {1, 2, 3}
b = {3, 4, 5}

union = a | b        
print(union)

{1, 2, 3, 4, 5}

In [35]:
intersection = a & b    
print(intersection)

{3}

In [ ]:
difference = a - b       
print(difference)

{1, 2}

In [37]:
sym_diff = a ^ b        
print(sym_diff)

{1, 2, 4, 5}

In [ ]:
# frozen set : A frozenset is an immutable (unchangeable) version of a regular set.
#Once created, you cannot add, remove, or modify its elements.

In [38]:
fs = frozenset([1, 2, 3, 4])
print(fs)

frozenset({1, 2, 3, 4})

In [39]:
fs.add(6)

AttributeError: 'frozenset' object has no attribute 'add'